.locations,
 .amenities{
position: relative;

}
ul li{
text-indent: 12px;
}
.locations:hover .popover,
 .amenities:hover .popover{
    display: block;
    background-color: #FAFAFA;
    border-radius: 4px ;
    border: 1px solid #DDDDDD;
    
 }
 .popover{
    position: absolute;
    display: none;
    width: 100%;
    top: 80%;
    list-style: none;
    padding-bottom: 12px;

 }
 h2{
   font-size: 16px;
   padding: 0;
   margin: 0;
   padding-top: 20px;
 }
 