article h2,
article .price_by_night{
    display: inline-flex;
}

.price_by_night{
    color: #ff5a5f;
border:4px solid #ff5a5f;
border-radius: 50%;
min-width: 60px;
height: 60px;
font-size: 30px;
line-height: 50px;
padding: 10px;
margin-left: 80px;
}